body {
    font-family: 'Pirata One', cursive;
    font-size: 22px;
}

.bullet-h { 
    counter-increment: ordem;
}

.bullet {
    counter-reset: bullet;
    padding-left: 12px;
}

.bullet li {
    list-style-type: none;
}

.bullet li:before {
    counter-increment: bullet;
    content: counter(ordem)"." counter(bullet)" ";
}

.spacer {
    padding-top: 50px;
}

.emphasis {
    font-family: 'Vollkorn';
    font-size: 22px;
}

.handwritten {
    font-family: 'Herr Von Muellerhoff';
    font-size: 46px;
    padding: 5px;
}