body {
    background-image: url('../images/kiwihug-y_2GC4EhOP4-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Pirata One', cursive;
    font-size: 24px;
    color: #26231f;
    cursor: url('../images/quill_cursor.png'), pointer;
}

.medieval-caps {
    max-width: 7%;
    height: auto;
}

.bullet-h { 
    counter-increment: ordem;
}

.bullet {
    counter-reset: bullet;
    padding-left: 12px;
}

.bullet li {
    list-style-type: none;
    padding-bottom: 10px;
}

.bullet li:before {
    counter-increment: bullet;
    content: counter(ordem)"." counter(bullet)" ";
}

.spacer {
    padding-top: 50px;
}

.spacer-sm {
    padding-top: 20px;
}

.spacer-md {
    padding-top: 20px;
    padding-bottom: 20px;
}


.emphasis {
    font-family: 'Vollkorn';
    font-size: 22px;
}

.handwritten {
    font-family: 'Herr Von Muellerhoff';
    font-size: 46px;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
}

.handwritten-2 {
    font-family: 'Mrs Saint Delafield';
    font-size: 46px;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
}

.handwritten-2-sm {
    font-family: 'Mrs Saint Delafield';
    font-size: 30px;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
}

.handwritten-2-md {
    font-family: 'Mrs Saint Delafield';
    font-size: 40px;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
}

.handwritten-3 {
    font-family: 'Meddon';
    font-size: 26px;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
}

.handwritten-3-md {
    font-family: 'Meddon';
    font-size: 22px;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
}

.seals {
    width: 125px;
    padding: 10px;
}

.flex-row {
    display: flex;
    padding: 10px;
}
canvas.signature-pad {
    width: 600px;
    height: 100px;
}

button.clear {
    height: 100%;
    background: rgba(255, 255, 255, .10);
    color: rgba(38, 35, 31, .50);
    font-family: 'Vollkorn';
    font-weight: 600;
    cursor: pointer;
    padding: 0px;
}

button.clear span {
    transform: rotate(90deg);
    display: block;
}

#certification {
    font-size: 24px;
    font-family: 'Vollkorn';
    font-style: italic;
    padding-top: 50px;
}

#certification img {
    cursor: pointer;
    width: 50%;
    transform: rotate(7deg);
    opacity: 0.2;
}
#certification:hover img {
    opacity: 0.5;
}
#certification.clicked img {
    opacity: 1;
}